[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.28"
optimizer = true
optimizer_runs = 200
via_ir = false
evm_version = "cancun"

[profile.default.fmt]
line_length = 100
tab_width = 4
bracket_spacing = true

[fuzz]
runs = 256
