[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"

[profile.default.fuzz]
runs = 256
max_test_rejects = 65536

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = false
